body {
  font-family: "Open Sans",sans-serif;
  font-weight: 300;
  text-rendering: optimizeLegibility;
	background-color: #f2f2f3;
}

h1 {
	text-align: center;
  font-size: 3em;
  font-weight: 300;
  line-height: 1.25;
  color: #01256e;
}

h2, h4 {
	text-align: center;
}

/* For the sub header on the filters */
h4 {
  margin-top: 85px;
  margin-bottom: -70px;
}

.well {
	margin-top: 20px;
	height: 400px;
}

/* Data table */
#dataTable {
  display: block;
  width: 100%;
  border: 1px solid #eee;
  max-height: 337px;
  overflow: auto;
  border: 1px solid black;
}

#dataTable thead {
  display: -webkit-flex;
  -webkit-flex-flow: row;
}

#dataTable thead tr {
  display: -webkit-flex;
  width: 100%;
  -webkit-align-items: stretch;
}

#dataTable tbody {
  display: -webkit-flex;
  height: 297px;
  overflow: auto;
  -webkit-flex-flow: row wrap;
}
#dataTable tbody tr {
  display: -webkit-flex;
  width: 100%;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

th, td {
  padding: 8px;
  width: 20%;
  line-height: 20px;
  text-align: center;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

tbody tr ._0, #courseName {
	width: 40%;
}

th {
  border-bottom: 1px solid black;
}

.dc-table-group, .dc-table-label {
  display: none;
  padding: 0px;
  line-height: 0px;
}

/* Pie charts */
.chart h2 {
	margin-bottom: -80px;
}

.dc-chart .pie-slice {
  fill: black;
  cursor: pointer;
}

/* Row chart */
.dc-chart g.row text {
  fill: black;
  cursor: pointer;
}