<!doctype html>
<html>
    <head>
    <title>Penn Course Filter</title>
        <meta charset="utf-8">
        <link rel="shortcut icon" href="/static/images/pennLogo.png">
        <script type="text/javascript" src="/static/js/d3.v3.min.js"></script>
        <script type="text/javascript" src="/static/js/spin.min.js"></script>
        <script type="text/javascript" src="/static/js/crossfilter.min.js"></script>
        <script type="text/javascript" src="/static/js/dc.min.js"></script> 
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0-rc2/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/js/angular.min.js"></script>
        <script type="text/javascript" src="/static/js/amplify.min.js"></script>

        <link type="text/css" rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link type="text/css" rel="stylesheet" href="/static/css/dc.css">
        <link type="text/css" rel="stylesheet" href="/static/css/navbar.css">
        <link type="text/css" rel="stylesheet" href="/static/css/instructors.css">
       </head>
    <body>
        <nav class="navbar navbar-default navbar-myPage navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="intro.html">Penn Course Filter</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="depts.html">Departments</a></li>
                        <!-- <li><a href="#">Overview</a></li> -->
                        <li><a href="specificDept.html">Courses</a></li>
                        <li><a href="instructors.html">Instructors</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div id="spin"></div>

        <div class="container">
            <div class="row">
                <table id="dataTable">
                    <thead>
                  <tr>
                    <th id="instructorName">Name</th>
                    <th>Instructor Quality</th>
                    <th>Difficulty</th>
                    <th>Amount of Work</th>
                    <!-- <th>Instructor Access</th> -->
                  </tr>
                </thead>
                </table>
            </div>

            <div class="row">
                <div class="well col-md-4">
                    <div id="qualityPieChart" class="chart">
                        <h2>Instructor Quality</h2>
                        <h4>0=low, 4=high</h4>
                    </div>
                </div>

                <div class="well col-md-4">
                    <div id="difficultyPieChart" class="chart">
                        <h2>Instructor Difficulty</h2>
                        <h4>0=easy, 4=hard</h4>
                    </div>
                </div>

                <div class="well col-md-4">
                    <div id="amountOfWorkPieChart" class="chart">
                        <h2>Amout Of Work</h2>
                        <h4>0=very little, 4=very much</h4>
                    </div>
                </div>
            </div>
        </div>

        <script src="/static/js/instructors.js"></script>
    </body>
</html>