<!doctype html>
<html>
	<head>
	<title>Penn Course Filter</title>
		<meta charset="utf-8">
		<link rel="shortcut icon" href="../static/images/pennLogo.png">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	 	<script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0-rc2/js/bootstrap.min.js"></script>
		<link type="text/css" rel="stylesheet" href="../static/css/bootstrap.min.css">
		<link type="text/css" rel="stylesheet" href="../static/css/intro.css">

		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-65252652-2', 'auto');
		  ga('send', 'pageview');

		</script>
	</head>
	<body>

		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=108049022881278";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>

		<div class="container">
			<div class="row">
				<h1>Penn Course Filter</h1>

				<p>Penn Course Filter was made in order to enhance the course search proccess for students who don't have a specific course in mind. Based off of Penn Course Review, Penn Course Filter allows you to filter courses and instructors of specific departments based on ratings, such as course quality, course difficulty, amount of work, and many others. Search, filter, and I hope you find what you're looking for!</p>

				<div class="center">
					<div class="fb-login-button" data-max-rows="1" data-size="xlarge" data-show-faces="false" data-auto-logout-link="false"></div>
				</div>

        <div id="stackButton">
            <a class="btn-geckoboard btn-outline btn-lg" href="depts.html">Start Filtering</a>
        </div>

			</div>
		</div>

		<script src="../static/js/intro.js"></script>
	</body>
</html>