<!doctype html>
<html>
	<head>
	<title>Penn Course Filter</title>
		<meta charset="utf-8">
		<link rel="shortcut icon" href="/static/images/pennLogo.png">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	 	<script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0-rc2/js/bootstrap.min.js"></script>
		<link type="text/css" rel="stylesheet" href="/static/css/bootstrap.min.css">
		<link type="text/css" rel="stylesheet" href="/static/css/intro.css">
	</head>
	<body>

		<div class="container">
			<div class="row">
				<h1>Penn Course Filter</h1>

				<p>Penn Course Filter was made in order to enhance the course search proccess for students who don't have a specific course in mind. Based off of Penn Course Review, Penn Course Filter allows you to filter courses and instructors of specific departments based on ratings, such as course quality, course difficulty, amount of work, and many others. Search, filter, and I hope you find what you're looking for!</p>

        <div id="stackButton">
            <a class="btn-geckoboard btn-outline btn-lg" href="depts.html">Start Filtering</a>
        </div>

			</div>
		</div>

	</body>
</html>